/* BODY */
body {
  font-family: Arial, sans-serif;
  background: #2b2b2b; /* tünd boz qalır */
  color: #f1f1f1;
  line-height: 1.6;
}

/* TITLES */
.rules-container h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #ffff00; /* sarı */
}

.rules-container h2 {
  margin-bottom: 10px;
  color: #ffff00; /* sarı */
}

/* CARD */
.card {
  background: #3a3a3a; /* tünd kart fonu */
  border-radius: 16px;
  padding: 18px;
  margin-bottom: 20px;
}

/* WARNING */
.warning {
  border-left: 5px solid #ff4d4d;
  background: #402222;
}
