/* HEADER */
.header {
  background: #4b4b4b; /* orta boz, ağ deyil */
  padding: 14px;
  text-align: center; /* ortada */
}

.header nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* kiçik ekranlarda sətirə keçsin */
}

.header nav a {
  color: #ffff00; /* sarı link */
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 12px;
  transition: color 0.3s;
}

.header nav a:hover {
  color: #ffea00; /* hover açıq sarı */
}
