@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

body {
  margin: 0;
  background-color: #2e4057;
}

.patterns {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 100%;
  height: 100%;
}

.svg-text {
  font-family: "Lora", serif;
  font-size: clamp(60px, 9vw, 140px); /* mobil üçün uyğunlaşır */
  font-weight: 700;
  letter-spacing: 6px;
  fill: transparent;
  stroke: #ffa5d8;
  stroke-width: 4;
}

