body{
  margin:0;
  background:#2e4057;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

#text-container{
  text-align:center;
  gap: 12px;
  display: flex;
  flex-direction: column;
  padding-left: 10px; /* soldan boşluq */
}

.line{
  overflow:hidden;
}

.line h1{
  margin:0;
  font-family:'Lora', serif;
  font-size: clamp(40px, 10vw, 110px);
  letter-spacing: 6px; /* azaldıldı */
  color:#ffa5d8;

  transform: translateY(100%);
  opacity: 0;
}
