@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

.patterns{
  width:100%;
  height:auto;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* ----------------- ÇATDIRILMA XİDMƏTİ (cta-text) ----------------- */
.cta-text{
  font-family: 'Lora', serif;
  letter-spacing: 10px;

  stroke:#ffa5d8;
  fill: transparent; /* fill silindi, yalnız stroke görünsün */
  font-weight:700;

  font-size: clamp(40px, 8vw, 120px);
  stroke-width: 6px;

  /* ANIMASYON */
  animation: ctaDraw 5s linear infinite;
}

/* stroke animasiya */
@keyframes ctaDraw{
  0%{
    stroke-dasharray: 0 2000;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 2000 0;
    stroke-dashoffset: -2000;
  }
  100%{
    stroke-dasharray: 0 2000;
    stroke-dashoffset: -4000;
  }
}
